<div class="header">
  <div class="header__container">
    <div>
      <a [routerLink]="['/courses']">
        <img src="assets/images/angular-hat.png" alt="Angular icon" class="header__icon"/>
      </a>
    </div>
    <a [routerLink]="['/courses']" class="header__title">
      <div>Angular Courses</div>
    </a>
  </div>
  <div class="header__container" *ngIf="!isLoginPage">
    <div class="header__user">User Name</div>
    <div>
      <input type="button" value="Log Off" class="header__button" (click)="logOut()">
    </div>
  </div>
</div>
