.breadcrumbs {
  padding: 1rem;
  border-bottom: 1px solid rgb(85, 107, 47);
}

.breadcrumbs__link {
  text-decoration: none;
  color: black;
}

.breadcrumbs__link:hover {
  color: rgb(85, 107, 47);
}
