<div class="course">
  <div class="course__container">
    <div class="course__data">
      <div class="course__info">
        <div class="course__info__title">
          <div>{{course.title | uppercase}}</div>
          <div class="course__rating__default" [ngClass]="{course__rating: course.topRated}">
            <span class="fa fa-star"></span>
          </div>
        </div>
        <div class="course__info__time">
          <div class="course__time">{{course.duration | duration}}</div>
          <div class="course__date">{{course.date | date : 'shortDate'}}</div>
        </div>
      </div>
      <div class="course__about">{{course.description}}</div>
    </div>
    <div class="course__buttons">
      <button class="button__edit course__button" [routerLink]="['/courses', course.id, 'edit']">
        <i class="fas fa-fw fa-edit icons"></i>
        <span class="edit__icon__tile">Edit</span>
      </button>
      <button class="button__delete course__button" (click)="delete($event)">
        <i class="fas fa-fw fa-trash-alt icons"></i>
        <span>Delete</span>
      </button>
    </div>
  </div>
</div>
