.search {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.container {
  display: flex;
  justify-content: space-between
}

.container__search {
  padding-right: 2rem;
}

.search__input {
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  border: 1px solid rgb(180, 180, 180);
}

.search__button {
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  border: 1px solid rgb(180, 180, 180);
}

.add__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 100%;
  font-family: inherit;
  padding: 0.3rem 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
}

.add__container:hover {
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  border: 1px solid rgb(180, 180, 180);
  background-color: rgb(221, 221, 221);
}

.add__button {

}

.add__course {

}

.add__icon {
  font-size: 0.7rem;
  padding-right: 2rem;
}
