<div class="search">
  <div class="container">
    <div class="container__search">
      <div class="input">
        <input type="text" placeholder="Name, fragment or date" class="input__inner">
      </div>
      <div>
        <input type="button" value="Search" class="input__button">
      </div>
    </div>
    <button class="container__search">
      <div class="add__button">
        <div class="add__button__inner">
          <i class="fas fa-plus"></i>
        </div>
      </div>
      <div class="add__button__title">Add Course</div>
    </button>
  </div>
</div>
<div></div>
