<div class="add-course">
  <form (ngSubmit)="addCourse()">
    <div class="add-course__input">
      <div class="add-course__input__title">Title: *Required</div>
      <div>
        <input type="text" placeholder="Text input" required class="add-course__input__text" [(ngModel)]="title" name="title">
      </div>
    </div>
    <div class="add-course__input">
      <div class="add-course__input__title">Description: *Required</div>
      <div>
        <textarea placeholder="Text area" required class="add-course__input__text
        add-course__input__description__text" [(ngModel)]="description" name="description"></textarea>
      </div>
    </div>
    <div class="add-course__input">
      <div class="add-course__input__title">Date: *Required</div>
      <div>
        <input type="text" placeholder="MM.DD.YYYY" required class="add-course__input__text" [(ngModel)]="date" name="date">
      </div>
    </div>
    <div class="add-course__input">
      <div class="add-course__input__title">Duration: *Required</div>
      <div>
        <input type="text" placeholder="Input in minutes" required class="add-course__input__text" [(ngModel)]="duration" name="duration">
      </div>
    </div>
    <div class="add-course__input">
      <div class="add-course__input__title">Authors: *Required</div>
      <div>
        <input type="text" placeholder="Start typing..." required class="add-course__input__text">
      </div>
    </div>
    <div class="add-course__button">
      <div>
        <button type="submit" class="add-course__button__inner">Save</button>
        <button type="button" class="add-course__button__inner">Cancel</button>
      </div>
    </div>
  </form>
</div>
