<div class="container">
  <div class="login">
    <div class="login__title">
      <div class="login__title__content">Login</div>
    </div>
    <div class="login__form">
      <form>
        <div>
          <div class="login__form__content">
            <div class="login__form__content__title">Email: *Required</div>
            <div>
              <input required type="text" placeholder="Please enter email" class="login__form__content__input">
            </div>
          </div>
        </div>
        <div>
          <div class="login__form__content">
            <div class="login__form__content__title">Password: *Required</div>
            <div>
              <input required type="text" placeholder="Please enter password" class="login__form__content__input">
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="login__form__button">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

