<div class="add-edit-course">
  <form>
    <div class="add-edit-course__input">
      <div class="add-edit-course__input__title">Title: *Required</div>
      <div>
        <input type="text" placeholder="Text input" required class="add-edit-course__input__text">
      </div>
    </div>
    <div class="add-edit-course__input">
      <div class="add-edit-course__input__title">Description: *Required</div>
      <div>
        <input type="text" placeholder="Text area" required class="add-edit-course__input__text
        add-edit-course__input__description__text">
      </div>
    </div>
    <div class="add-edit-course__input">
      <div class="add-edit-course__input__title">Date: *Required</div>
      <div>
        <input type="text" placeholder="MM.DD.YYYY" required class="add-edit-course__input__text">
      </div>
    </div>
    <div class="add-edit-course__input">
      <div class="add-edit-course__input__title">Duration: *Required</div>
      <div>
        <input type="text" placeholder="Input in minutes" required class="add-edit-course__input__text">
      </div>
    </div>
    <div class="add-edit-course__input">
      <div class="add-edit-course__input__title">Authors: *Required</div>
      <div>
        <input type="text" placeholder="Start typing..." required class="add-edit-course__input__text">
      </div>
    </div>
    <div class="add-edit-course__button">
      <div>
        <button type="submit" class="add-edit-course__button__inner">Save</button>
        <button type="button" class="add-edit-course__button__inner">Cancel</button>
      </div>
    </div>
  </form>
</div>
