<!--search section-->

<div class="search">
  <div class="container">
    <div class="container__search">
      <input type="text" placeholder="Name, fragment or date" class="search__input" [(ngModel)]="search">
    </div>
    <div>
      <input type="button" value="Search" class="search__button course__button" (click)="showSearch()">
    </div>
  </div>
  <button class="add__container">
    <div class="add__button, add__icon">
      <i class="fas fa-plus"></i>
    </div>
    <div class="add__course">Add Courses</div>
  </button>
</div>

<!--courses-page section-->

<ng-container *ngIf="courses.length > 0">
  <app-course class="app-course" *ngFor="let course of courses | orderBy"
              [course]="course"
              [appBorder]="course.date"
              (onDelete)="showDelete($event)"></app-course>
</ng-container>

<ng-container *ngIf="courses.length === 0">
  <div class="load__courses">
    <div class="load__button">NO DATA. FEEL FREE TO ADD NEW COURSE</div>
  </div>
</ng-container>

<!--load more section-->

<ng-container *ngIf="courses.length > 5">
  <div class="load__courses" (click)="showLoadMore()">
    <div class="load__button">LOAD MORE</div>
  </div>
</ng-container>
