<!--search section-->

<div class="search">
  <div class="container">
    <div class="container__search">
      <input type="text" placeholder="Name, fragment or date" class="search__input" [(ngModel)]="search">
    </div>
    <div>
      <input type="button" value="Search" class="search__button course__button" (click)="showSearch()">
    </div>
  </div>
  <button class="add__container">
    <div class="add__button, add__icon">
      <i class="fas fa-plus"></i>
    </div>
    <div class="add__course">Add Courses</div>
  </button>
</div>

<!--courses-page section-->

<ng-container *ngFor="let course of courses">
  <app-course [course]="course"></app-course>
</ng-container>

<!--load more section-->

<div class="load__courses">
  <div class="load__button">LOAD MORE</div>
</div>


